<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .rows {
            display : flex ;
            flex-direction:row;
        }
    </style>
    <title>List</title>
</head>
<body>
    <table border="1">
        <td>Index</td>
        <td>Name</td>
        <td>Currency</td>
        <td>Price</td>
        <td>Date</td>
        <tr data-th-each="coin,iter : ${coins}">
            <td data-th-text="${iter.index+1}"></td>
            <td data-th-text="${coin.name}"></td>
            <td data-th-text="${coin.currency}"></td>
            <td data-th-text="${coin.price}"></td>
            <td data-th-text="${coin.date}"></td>
        </tr>
    </table>
    <div class="rows">
        <form 
                action="/clear"
                    method="post">
        <button type="submit">Clear</button>
        </form>
        <form
            action="/"
                method="get">
        <button type="submit">New</button>    
        </form>
    </div>
</body>
</html>